<p>El balance de tu cuenta es : $cuenta</p>
<form method="get" action="/ahorro" >
<input type="number"  name="dinero"><br>
<input type="submit" value="depositar" name="accion">
<input type="submit" value="retirar" name="accion"><br>
